apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: '{{ include "hnc.fullname" . }}-manager-rolebinding'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "hnc.fullname" . }}-manager-role'
subjects:
  - kind: ServiceAccount
    name: default
    namespace: '{{ include "hnc.namespace" . }}'
